#header {
  height: 6%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


}

#check-boxes {

  background: white;

}
#map {

  height: 60%;

}

h1, h2 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: oswald;
}

#spinner {

  display: block;
  margin-left: 45vw;
  margin-top: 30vh;

  
}






#header h1 {
  /* margin-left: 18%; */
  font-size: 64px;
  /* flex-grow: 2; */
}
#header h2 {
  
  font-size: 5vw;
}

html,
body {
  font-family: oswald;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 9%;
  margin-top: 5px;
  /* margin-right: 20vw; */
  margin-bottom: 5px;
  height: auto;
  /* float: left; */
  padding-left: 3%;
  /* align-self: center; */
  
}

.info p {

  /* width: 50%; */
  /* text-align: center; */
  /* right: 25%; */
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 12px;
  font-weight: 900;
  font-style: italic;

}
/* .info ul {
  font-weight: 100;
} */

.info {
  text-align: center;


}

.info h1 {
  color: #000000;

  font-size: 32px;
}

.info span {

  font-weight: 400;

}



.info li {

  list-style: none;
  /* font-style: italic; */
  font-size: 20px;

}

@font-face {
  font-family: oswald;
  src: url(./assets/fonts/Oswald-VariableFont_wght.ttf);
}

label {

  background: white;
  /* position: absolute; */
  /* right: 18vw; */
  /* top: 2.5vh; */
  padding: 10px;
  font-size: 1vh;

}

.btn {
  font-family: oswald;
  color: #000000;
  font-size: 2vh;
  background: white;
  padding: 10px 20px 10px 20px;
  border: solid #000000 3px;
  text-decoration: none;

  /* position: absolute;
  right: 25vw;
  top: 1vh; */
}

.btn:hover {
  background: #dbdbdb;;
  text-decoration: none;
  cursor: pointer;
}

#month-btn {

  right: 10vw;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
  
  .App {
    position: fixed;
  }

  #filter {
    font-size: 10px;
  }
  img {
    width: 15%;
  }
  html, body {
    overflow: hidden;
 }
  #header h1 {
    font-size: 25px;
    font-weight: 500;
  }
  #header {
    position: static;
    top: 10%;
  }
  #map {
    height: 100%;
  }
  .info h1 {
    font-weight: 400;
  }
  .info span {
    font-weight: 400;
  }
  .info p {
    font-weight: 200;
  }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
  /* @media only screen and (min-width: 600px) { 
    #header h1 {

      font-size: 10px;
      color: red;
  
  
    }
  } */



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */